body{
    font-family: roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

#header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

#header-links{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 30px;
}

.section1{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;  
    padding: 100px 200px;
}

.section1#container{
    display: flex;
    flex-direction: column;
}

#hero-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    width: 400px;
    margin: 0px;
}

#hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;
    width: 400px;
}

.sign-up{
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    background-color: #3882F6;
    padding: 10px 20px;
    border-radius: 7px;
}

.sign-up#first{
    border-style: none;
}

#placeholder{
    color: #E5E7EB;
    background-color: rgb(66, 80, 88);
    height: 250px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    gap: 25px;
}

#information-header{
    font-size: 36px;
    font-weight: bolder ;
    color: #1F2937;
}

.images{
    display: flex;
    gap: 50px
}

.image-n-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-color: #3882F6;
    border-width: 5px;
    border-radius: 20px;
}

.text{
    color: grey;
    width:200px;
    text-align: center;
}